<h1>User: <%= @user.name %></h1>

<h2>Allergies: </h2>

<ul>
    <% @user.allergies.each do |a| %>
        <li><%= a.ingredient.name %><%= button_to "Remove", a, method: :delete %></li>
    <% end %>
</ul>

<h2>Recipes: </h2>

<ul>
    <% @user.recipes.each do |r| %>
        <li><%= r.name %></li>
    <% end %>
</ul>

<%= link_to "Add an allergy", new_allergy_path %>
