<!DOCTYPE html>
<html>
  <head>
    <title>Pet Shop Validations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class=<%= type %>>
          <ul>
            <% if msg.is_a? Array%>
              <% msg.each do |m| %>
                <li><%= m %></li>
              <% end %>
            <% else%>
              <li><%=msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
